body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}

body * {
    font-size: 16px;
}

.form {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    padding: 30px;
    min-width: 300px;
    background-color: rgb(201, 214, 232);
    border-radius: 3px;

    /*centers element*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.form label {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.form input, .form textarea {
    padding: 5px;
    margin-bottom: 15px;
    max-width: 100%;
    min-width: 100%;
}
.form {
    max-width: 100%;
}
.form textarea {
    max-width: 300px;
    min-height: 50px;
}

button, .button {
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    align-self: flex-end;
    background-color: rgb(161, 180, 206);
    cursor: pointer;
}

button, .button:hover {
    background-color: rgb(127, 156, 198);
}

button, .button:active {
    background-color: rgb(113, 143, 186);
}

.form.input-form {
    flex-direction: row;
}

.form.input-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    min-width: 300px;
}
.form.input-form div label {
    align-self: flex-start;
}

.form.input-form .approve-deny {
    display: none;
    flex-direction: row;
    justify-content: center;
}

.form.input-form .admin {
    display: none;
}

.form.input-form .approve-deny input {
    width: 0;
}

.form.input-form .files {
    padding:0;
}

.js-display-table {
	display: flex;
	flex-direction: column;
	background-color: rgb(201, 214, 232);
	padding: 20px;
	margin: 50px;
}
.js-display-table, .js-display-table * {
	border-radius: 3px;
}

.js-display-table div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 300px;
	max-height: 260px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.js-display-table div div {
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin: 2px;
}
.js-display-table div div p{
/* 	border: 1px solid white; */
	padding: 5px 10px;
	margin: 0;
}
.js-display-table div div p:nth-child(1){
	background-color: rgb(220, 230, 250);
	text-transform: capitalize;
/* 	border: 1px solid white; */
	margin: 0;
}

.js-display-table .button {
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
.js-display-table .button:active {
	color: black;
}
.js-display-table .button:focus {
	border: none;
}