body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body * {
    font-size: 16px;
}
.main-body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}
.main-body .login-form {
	width: 500px;
	height: 200px;
}
.main-body .login-form input {
	border: 0px;
	border-radius: 3px;
	background-color: white;
	padding: 6px;
}
.form, .input-form {
	align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(201, 214, 232);
    border-radius: 3px;
}
.input-form div {
	display: flex;
	flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
    width: 75%;
}

.input-form div * {
	margin: 5px 20px;
}
.form input, .form textarea {
	max-width: 350px;
    padding: 5px;
    width: 50%;
}
.form textarea, .form select {
    max-width: 300px;
    min-width: 300px;
    min-height: 50px;
}

.navbar a, button, .button {
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    align-self: flex-end;
    background-color: rgb(161, 180, 206);
    cursor: pointer;
}

.navbar a:hover, button:hover, .button:hover {
    background-color: rgb(127, 156, 198);
}

.navbar a:active, button:active, .button:active {
    background-color: rgb(113, 143, 186);
}

form, .form.input-form {
	display: flex;
    flex-direction: column;
}
.form.input-form div label {
	text-align: right;
    width: 100px;
}
.form.input-form div input {
    width: 300px;
    max-height: 35px;
}

.form.input-form .approve-deny {
    display: none;
    flex-direction: row;
    justify-content: center;
}
.form.input-form div div input {
	width: 10px;
}
.form.input-form div div label {
	width: 50px;
}
.form .employee-approve {
	width: 500px;
}
.form.input-form .reason {
	width: 460px;
	display: inline-block;
}
.form.input-form .reason label {
	display: inline-block;
	text-align: right;
	width: 100px;
	margin: 0 15px 0 0;
}
.form.input-form .reason textarea {
	display: inline-block;
	margin: 0;
}
.form.input-form .approval {
    margin: 10px 0;
}

.form.input-form .admin {
    display: none;
}
.js-display-table {
	display: flex;
	flex-direction: column;
	background-color: rgb(201, 214, 232);
	padding: 10px;
	margin: 50px;
}
.js-display-table, .js-display-table * {
	border-radius: 3px;
}

.js-display-table div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 300px;
	max-height: 260px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.js-display-table > div {
	padding: 10px;
}
.js-display-table > :nth-of-type(2n) {
	background-color: rgba(50,50,50, 0.1);
}
.js-display-table div div {
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin: 2px;
}
.js-display-table div div p{
/* 	border: 1px solid white; */
	padding: 5px 10px;
	margin: 0;
}
.js-display-table div div p:nth-child(1){
	background-color: rgb(220, 230, 250);
	text-transform: capitalize;
/* 	border: 1px solid white; */
	margin: 0;
}

.js-display-table .button {
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
.js-display-table .button:active {
	color: black;
}
.js-display-table .button:focus {
	border: none;
}

.navbar {
	display: flex;
	justify-content: left;
	background-color:  rgb(220, 230, 250);
	padding-left: 50px;
}
.navbar a {
	padding: 10px 30px;
	text-decoration: none;
	margin: 0 3px;
	background-color: rgb(201, 214, 232);
	color: black;
}