<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RevatureProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServer</display-name>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>com.revature.servlet.LoginServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/LoginServer</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TRform</display-name>
    <servlet-name>TRform</servlet-name>
    <servlet-class>com.revature.TRform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TRform</servlet-name>
    <url-pattern>/TRform</url-pattern>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormInfo</display-name>
    <servlet-name>FormInfo</servlet-name>
    <servlet-class>com.revature.FormInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormInfo</servlet-name>
    <url-pattern>/FormInfo</url-pattern>
  </servlet-mapping>
</web-app>